*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: rgb(75, 170, 170);
    font-family: "Lato", sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: rgb(5, 31, 31);
}

.container{
    background-color: white;
    border-radius: 25px;
    box-shadow: 10px 20px 30px rgb(5, 31, 31);
    /* width: 800px; */
    width: 400px;
    max-width: 100%;

}

.header{
    /* background-color: ; */
    border-bottom:1px solid rgb(75, 170, 170);
    padding: 20px 40px;
}

.header h2{
    margin: 0;
}

.form{
    padding: 30px 40px;
}

.form-control{
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;  /* this has to be reviewed */
}

.form-control label {
    display: inline-block;  /* impossible to add padding-bottom without displaying the label element in "inline-block" */
    margin-bottom: 10px; 
}

.form-control input {
    border: 2px solid rgb(75, 170, 170);
    border-radius: 5px; 
    font-family: inherit;
    font-size: 14px;
    width: 100%;
    padding: 10px;
}

.form-control.success input {
    border: 2px solid #23cc71;
}

.form-control.error input {
    border: 2px solid #e74c3c;
}

.form-control i {
    position: absolute;
    top: 42px;
    right: 13px; 
    visibility: hidden;
}

.form-control.success i.fa-check-circle {
    visibility: visible;
    color: #23cc71;
}

.form-control.error i.fa-exclamation-circle {
    visibility: visible;
    color: #e74c3c;
}

.form-control small {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small{
    visibility: visible;
    color: #e74c3c;
} 

.form button {
    /* background-color: rgb(75, 170, 170); */
    background: linear-gradient(to right, rgb(75, 170, 170), rgb(5, 31, 31));
    border: none;
    border-radius: 6px;
    color: white;
    width: 100%;
    font-size: 20px;
    font-family: inherit;
    font-weight: 600;
    padding: 7px;
    display: block;
}